.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  h1 {
    text-align: center;
  }
  form {
    :global(.error) {
      color: #ac2925;
    }

    label {
      line-height: 1;
    }
  }
}
